/*General settings*/
* {
  margin: 3px;
}
/*Main container settings*/
.container {
  width: 50%;
  margin: auto;
}

/*Header*/
header {
  background-color: rgb(142, 175, 224);
  height: 80px;
  background-size: 300px;
  background-image: url("../img/pattern.png");
}

/*Logo and author*/
#logo {
  margin-top: 40px;
  width: 20%;
}
#author {
  color: blue;
}

/*Details and image*/
.details {
  color: gray;
}
.article-image {
  height: 260px;
}
